@font-face {
  font-family: "Enriqueta";
  src: url("../fonts/Enriqueta-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body
{
  background: pink;
}

#volvelle-canvas{
  position: relative;
}

#puzzle-canvas-wrapper{
  position: absolute;
  cursor: pointer;
  height: 1000px;
  margin: 0px auto 0 auto;
  width: 2000px;
  margin-left: -757px;
}

#puzzle-canvas-wrapper-img{
  position: absolute;
  margin: -300px auto 0 auto;
  width: 800px;
}

p{
  font-family: "Enriqueta";
  margin-left: 100px;
  color: black;
  font-size: 24px;
}

@media screen and (max-width: 992px){

  body{
    overflow-x: hidden;
    overflow-y: hidden;

  }

  p{
    margin-left: 20px;
    font-size: 50px;
  }

  #infotext{
    display: none;
  }

  #puzzle-canvas-wrapper{
    margin: 70px auto 0 auto;
    width: 3000px;
    margin-left: -757px;
  }

  #puzzle-canvas-wrapper-img{
    margin: -300px auto 0 auto;
    width: 800px;
    margin-left: -200px;
  }

}
